<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/css/main.css">
        <title>Document</title>
    </head>
    <body>
        <div class="container" style="display: flex; height: 100%; position: relative;">
            
            <form id="survey-form" data-step="<%=currentStep%>" data-steps="<%=questions.length%>">
                <div class="survey-step-wrapper">
                    <% questions.forEach((question, index) => { %>
                        <div class="survey-step" data-step="<%=index%>">
                            <div class="input-wrapper">
                                <label for="<%=question.slug%>>"><%=question.value%></label>
                                <input type="text" name="<%=question.slug%>" data-value="<%=question.value%>">
                            </div>
                        </div>
                    <% }) %>
                    <button id="next-step"><%= questions.length > 1 ? "Next question" : "Submit" %></button>
                </div>
            </form>

        </div>
    </body>
</html>

<script defer>

let surveyForm = document.querySelector("form#survey-form")
let nextStepButton = surveyForm.querySelector("#next-step")

surveyForm.onsubmit = e => {
    e.preventDefault();
}

nextStepButton.onclick = async e => {
    let questions = parseInt(surveyForm.getAttribute("data-steps"))
    let currentStep = parseInt(surveyForm.getAttribute("data-step"))
    let nextStep = currentStep + 1
    let inputs = Array.from(surveyForm.querySelectorAll(".survey-step input"))

    if (nextStep == questions-1) nextStepButton.innerText = "Submit"
    if (nextStep == questions) {
        nextStepButton.toggleAttribute("disabled", true)
        nextStepButton.innerText = "Submitting..."

        let i = 0;
        let pairs = []
        
        inputs.forEach(input => pairs.push({ slug: input.name, name: input.getAttribute("data-value"), value: input.value }))

        const response = await fetch(
            "/api/submit",
            {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    data: pairs
                })
            }
        )

        const json = await response.json()
        if (json.success) {
            window.location.replace("/")
        } else {
            nextStepButton.toggleAttribute("disabled", false)
            nextStepButton.innerText = "Submit"
        }

    } else {
        surveyForm.setAttribute("data-step", currentStep+1)
    }
}

</script>